<div class="dashboard-container fade-in" [class.sidebar-collapsed]="isSidebarCollapsed">
  <!-- Menú Lateral (Sidebar) -->
  <aside class="sidebar">
    <div class="sidebar-header">
     
    </div>

    <div class="profile-section">
      <!-- Hacemos que toda la sección de la imagen sea un label para el input oculto -->
      <label for="profile-picture-upload" class="profile-picture-container upload-label">
        <i *ngIf="!docente?.foto" class="fas fa-user-tie"></i>
        <img *ngIf="docente?.foto" [src]="docente.foto" alt="Foto de perfil" class="profile-picture-img" (error)="$event.target.src='assets/default-profile.png'">
        <div class="upload-overlay"><i class="fas fa-camera"></i></div>
      </label>
      <!-- Input de archivo oculto -->
      <input type="file" id="profile-picture-upload" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
      
      <div class="profile-info">
        <!-- Mostramos el nombre corto si ya se cargaron los datos -->
        <span class="profile-name" *ngIf="docente">Ing. {{docente.nombre_completo}}</span>
        <!-- Mostramos un texto de carga mientras se obtienen los datos -->
        <span class="profile-name" *ngIf="!docente">Cargando...</span>
        
        <span class="profile-role">Rol: {{ docente?.rol | titlecase }}</span>
      </div>
    </div>

    <nav class="menu">
      <a routerLink="/docente/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="menu-item">
        <i class="fas fa-home"></i>
        <span class="menu-text">Inicio</span>
      </a>
      <a routerLink="/docente/dashboard/mis-datos" routerLinkActive="active" class="menu-item">
        <i class="fas fa-user-circle"></i>
        <span class="menu-text">Mis Datos</span>
      </a>
      <a routerLink="/docente/dashboard/grupos" routerLinkActive="active" class="menu-item">
        <i class="fas fa-users"></i>
        <span class="menu-text">Grupos</span>
      </a>
      <a routerLink="/docente/dashboard/opciones" routerLinkActive="active" class="menu-item">
        <i class="fas fa-cog"></i>
        <span class="menu-text">Opciones</span>
      </a>
    </nav>

    <div class="sidebar-footer">
      <button (click)="logout()" class="menu-item logout-button">
        <i class="fas fa-sign-out-alt"></i>
        <span class="menu-text">Cerrar Sesión</span>
      </button>
    </div>
  </aside>

  <!-- Contenido Principal -->
  <main class="main-content">
    <!-- Aquí es donde Angular cargará los componentes hijos como 'Inicio' o 'Mis Datos' -->
    <router-outlet></router-outlet>
  </main>
</div>
