<div class="login-wrapper">
  <!-- Contenedor del Carrusel de Imágenes -->
  <div class="carousel-container">
    <img src="assets/CHAFATEC.png" alt="Imagen 1" class="carousel-image image1">
    <div class="carousel-overlay"></div>
  </div>

  <!-- Contenedor del Formulario de Login -->
  <div class="login-form-container">
    <img src="assets/CHAFATEC.png" alt="CHAFATEC Logo" class="logo">
    <h2>Panel de Aspirante</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="usuario">Correo Electrónico</label>
        <div class="input-group">
          <i class="fa-solid fa-at"></i>
          <input id="usuario" type="email" formControlName="usuario" placeholder="tu.correo@ejemplo.com">
        </div>
        @if (loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched) {
          <div class="error-text"><small>El correo es requerido.</small></div>
        }
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <div class="input-group">
          <i class="fa-solid fa-lock"></i>
          <input id="password" type="password" formControlName="password" placeholder="Tu contraseña">
        </div>
         @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <div class="error-text"><small>La contraseña es requerida.</small></div>
        }
      </div>

      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }

      <button type="submit" [disabled]="loginForm.invalid">
        Ingresar
      </button>

      <!-- Sección de acciones para aspirantes -->
      <div class="aspirante-actions">
        <button type="button" class="secondary" (click)="goToRegistro()">
          Solicitar Ficha
        </button>
      </div>

       <!-- Enlace para volver al login normal -->
    <div class="login-link-container">
      <span>¿No eres aspirante? 
        <a routerLink="/login" class="login-link">Inicia sesión aquí</a>
      </span>
    </div>

      <div class="theme-switcher-container">
        <button type="button" class="theme-toggle" (click)="toggleTheme()" [title]="currentTheme === 'dark' ? 'Cambiar a tema claro' : 'Cambiar a tema oscuro'">
          <i class="fa-solid" [ngClass]="currentTheme === 'dark' ? 'fa-sun' : 'fa-moon'"></i>
        </button>
      </div>

      <!-- Marca de agua -->
      <div class="watermark">
        <img src="assets/default-profile.png" alt="Cuchipu Entertainment Logo">
        <span>Chafatec by Cuchipu Entertainment</span>
      </div>
    </form>
  </div>
</div>